:root {
  --white: #ffffff;

  --light-gray: #f5f5f5;
  --dark-gray: #353535; 

  --light-blue: #bee3db;
  --dark-blue: #89b0ae;
  --cement-color: #414142;

  --red: #bc4749;
  --green: #a7c957;

  --violet: #9d4edd;
  --cyan: #07beb8;
}