:root {
  --white: #ffffff;

  --light-gray: #d9d9d9;
  --dark-gray: #353535; 

  --light-blue: #bee3db;
  --dark-blue: #89b0ae;
  --cement-color: #555b6e;

  --red: #bc4749;
  --green: #a7c957;

  --violet: #9d4edd;
  --cyan: #07beb8;
}